<!DOCTYPE html>
<html>

<head>

</head>
<style>
		body {text-align: center;}
		input {margin-top: 10px;}
		table, th, td{border: 1px solid black;}
</style>

<body>
    <a href='/logout'><p style="text-align:right">Logout</p></a>
    <h1>Welcome, {{name['name']}}</h1>

    <!-- future flights -->
    <h3 style='margin-bottom: 10px; margin-top: 10px;'>My future flights</h3>
    <table align= 'center'>
            <th>Airline Name</th>
            <th>Flight Number</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>	
            <th>Arrival Time</th>
            <th>Status</th>
        
        {% for line in myflight %}
            <tr>
                <td>{{line['airline_name']}}</td>
                <td>{{line['flight_number']}}</td>
                <td>{{line['departure_airport']}}</td>
                <td>{{line['arrival_airport']}}</td>
                <td>{{line['departure_time']}}</td>
                <td>{{line['arrival_time']}}</td>
                <td>{{line['status']}}</td>
            </tr>
        {% endfor %}
    </table>
	

    <h2 style='margin-bottom: 10px; margin-top: 10px;'>Search for flights</h2>
    <!-- airport search -->
    <h3 style='margin-bottom: 10px; margin-top: 10px;'>Search by airport</h2>
    <form action="/" method="POST">
        <input type="text" name = "depart_airport" placeholder="Departure Airport" required>
        <span style = 'padding:10px;'>   </span>
        <input type="text" name = "arrive_airport" placeholder="Arrival Airport" reuqired></br>
        <span>Departure Date: </span>
        <input type="date" name = "depart_date" required><br>
        <span>Return Date (Optional): </span>	
        <input type="date" name = "return_date"><br>
        <input type="submit" value = Search />
        {% if error1 %}
            <p class="error"><strong>Error:</strong> {{error1}}</p>
        {% endif %}
    </form>

    <!-- city search -->
    <h3 style='margin-bottom: 10px; margin-top: 10px;'>Search by city</h2>
    <form action="/" method="POST">
        <input type="text" name = "depart_city" placeholder="Departure City" reuqired>
        <span style = 'padding:10px;'>   </span>
        <input type="text" name = "arrive_city" placeholder="Arrival City" reuqired></br>
        <span>Departure Date: </span>
        <input type="date" name = "depart_date" reuqired><br>
        <span>Return Date (Optional): </span>	
        <input type="date" name = "return_date"><br>
        <input type="submit" value = Search />
        {% if error2 %}
            <p class="error"><strong>Error:</strong> {{error2}}</p>
        {% endif %}
    </form>

    <!-- desplay search result -->
		{% if search1 %}
		<h3 style='margin-bottom: 10px; margin-top: 10px;'>Search result</h3>
		<table align= 'center'>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>Departure Airport</th>
				<th>Arrival Airport</th>
				<th>Departure Time</th>	
				<th>Arrival Time</th>
				<th>Status</th>
			
			{% for line in search1 %}
				<tr>
					<td>{{line['airline_name']}}</td>
					<td>{{line['flight_number']}}</td>
					<td>{{line['departure_airport']}}</td>
					<td>{{line['arrival_airport']}}</td>
					<td>{{line['departure_time']}}</td>
					<td>{{line['arrival_time']}}</td>
					<td>{{line['status']}}</td>
				</tr>
			{% endfor %}
		</table>
        {% endif %}	
        
		{% if search2 %}
		<table align= 'center', style='margin-top:20px'>
				<th>Airline Name</th>
				<th>Flight Number</th>
				<th>Departure Airport</th>
				<th>Arrival Airport</th>
				<th>Departure Time</th>	
				<th>Arrival Time</th>
				<th>Status</th>
			
			{% for line in search2 %}
				<tr>
					<td>{{line['airline_name']}}</td>
					<td>{{line['flight_number']}}</td>
					<td>{{line['departure_airport']}}</td>
					<td>{{line['arrival_airport']}}</td>
					<td>{{line['departure_time']}}</td>
					<td>{{line['arrival_time']}}</td>
					<td>{{line['status']}}</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}	

    <h2>Check flight status</h2>
    <!-- flight status -->
    <form action="/" method="POST">
        <input type="text" name = "airline_name" placeholder="Airline Name" required>
        <span style = 'padding:10px;'>   </span>
        <input type="text" name = "flight_num" placeholder="Flight Number" required></br>
        <span>Departure Date: </span>
        <input type="date" name = "depart_date" required><br>
        <!-- <span>Arrival Date (Optional): </span>	
        <input type="date" name = "arrive_date"><br> -->
        <input type="submit" value = Search />
        {% if error3 %}
            <p class="error"><strong>Error:</strong> {{error3}}</p>
        {% endif %}
    </form>	

    <!-- desplay search result -->
    {% if search3 %}
    <h3 style='margin-bottom: 10px; margin-top: 10px;'>Search result</h3>
    <table align= 'center'>
            <th>Airline Name</th>
            <th>Flight Number</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>	
            <th>Arrival Time</th>
            <th>Status</th>
        
        {% for line in search3 %}
            <tr>
                <td>{{line['airline_name']}}</td>
                <td>{{line['flight_number']}}</td>
                <td>{{line['departure_airport']}}</td>
                <td>{{line['arrival_airport']}}</td>
                <td>{{line['departure_time']}}</td>
                <td>{{line['arrival_time']}}</td>
                <td>{{line['status']}}</td>
            </tr>
        {% endfor %}
    </table>
		{% endif %}		

</body>

</html>
