<!DOCTYPE html>
<html>

<head>

</head>
<style>
		body {text-align: center;}
		input {margin-top: 10px;}
		table, th, td{border: 1px solid black;}
</style>

<body>
    <a href='/logout'><p style="text-align:right">Logout</p></a>
    <h1>Welcome, {{name}}</h1>

    <!-- future flights -->
    <h2 style='margin-bottom: 10px; margin-top: 10px;'>Future flights</h2>
    {% if not search1 %}
    <table align= 'center'>
            <th>Airline Name</th>
            <th>Flight Number</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>	
            <th>Arrival Time</th>
            <th>Status</th>
    
        {% for line in myflight %}
            <tr>
                <td>{{line['airline_name']}}</td>
                <td>{{line['flight_number']}}</td>
                <td>{{line['departure_airport']}}</td>
                <td>{{line['arrival_airport']}}</td>
                <td>{{line['departure_time']}}</td>
                <td>{{line['arrival_time']}}</td>
                <td>{{line['status']}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

	<!-- desplay specification result -->
    {% if search1 %}
    <table align= 'center'>
            <th>Airline Name</th>
            <th>Flight Number</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>	
            <th>Arrival Time</th>
            <th>Status</th>
        
        {% for line in search1 %}
            <tr>
                <td>{{line['airline_name']}}</td>
                <td>{{line['flight_number']}}</td>
                <td>{{line['departure_airport']}}</td>
                <td>{{line['arrival_airport']}}</td>
                <td>{{line['departure_time']}}</td>
                <td>{{line['arrival_time']}}</td>
                <td>{{line['status']}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}	

    <h2 style='margin-bottom: 10px; margin-top: 10px;'>Specify future flight view</h2>
    <!-- airport specification -->
    <h3 style='margin-bottom: 10px; margin-top: 10px;'>Specify by airport</h2>
    <form action="/staff" method="POST">
        <input type="text" name = "depart_airport" placeholder="Departure Airport" required>
        <span style = 'padding:10px;'>   </span>
        <input type="text" name = "arrive_airport" placeholder="Arrival Airport" reuqired></br>
        <span>Start Date: </span>
        <input type="date" name = "start_date" required><br>
        <span>End Date: </span>	
        <input type="date" name = "end_date"><br>
        <input type="submit" name='airport_search' value = Search />
        {% if error1 %}
            <p class="error"><strong>Error:</strong> {{error1}}</p>
        {% endif %}
    </form>

    <!-- city specification -->
    <h3 style='margin-bottom: 10px; margin-top: 10px;'>Specify by city</h2>
    <form action="/staff" method="POST">
        <input type="text" name = "depart_city" placeholder="Departure City" reuqired>
        <span style = 'padding:10px;'>   </span>
        <input type="text" name = "arrive_city" placeholder="Arrival City" reuqired></br>
        <span>Start Date: </span>
        <input type="date" name = "start_date" reuqired><br>
        <span>End Date (Optional): </span>	
        <input type="date" name = "end_date"><br>
        <input type="submit" name='city_search' value = Search />
        {% if error2 %}
            <p class="error"><strong>Error:</strong> {{error2}}</p>
        {% endif %}
    </form>

    <!-- view customer by flight -->
    <h3 style='margin-bottom: 10px; margin-top: 10px;'>View customer by flight</h2>
    <form action="/staff" method="POST">
        <input type="text" name = "flight_num" placeholder="Flight Number" required></br>
        <span>Departure Datetime: </span>
        <input type="text" name = "depart_datetime" required><br>
        <input type="submit" name='customer_search' value = Search />
        {% if error3 %}
            <p class="error"><strong>Error:</strong> {{error3}}</p>
        {% endif %}
    </form>	

    <!-- customer search result -->
    {% if search3 %}
    <h3>Customer by flight result</h3>
    <table align= 'center'>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Passport Number</th>	
            <th>Passport Country</th> 
            <th>Date of birth</th>
        
        {% for line in search3 %}
            <tr>
                <td>{{line['email']}}</td>
                <td>{{line['name']}}</td>
                <td>No. {{line['building_num']}}, {{line['street']}}, {{line['city']}}, {{line['state']}}</td>
                <td>{{line['phone_num']}}</td>
                <td>{{line['passport_num']}}</td>
                <td>{{line['passport_country']}}</td>
                <td>{{line['date_of_birth']}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}	

    <h2>Create New Flight</h2>
    <!-- ticket search -->
    <form action="/staff" method="POST">
        <input type="number" name = "flight_num" placeholder="Flight Number" required>
        <span style = 'padding:10px;'>   </span>
        <input type="number" name = "airplane_id" placeholder="Airplane Id" required></br>
        <input type="text" name = "depart_airport" placeholder="Departure Airport" required>
        <span style = 'padding:10px;'>   </span>
        <input type="text" name = "arrive_airport" placeholder="Arrival Airport" required></br>
        <input type="number" name = "price" placeholder="Price" required>
        <span style = 'padding:10px;'>   </span>
        <select name="status" style='margin-top:10px'>
                <option value="on-time" selected>On-time</option>
                <option value="delayed">Delayed</option>
            </select><br></br>
        <span>Departure DateTime: </span>
        <input type="datetime" name = "depart_datetime" required><br>
        <span>Arrival DateTime: </span>
        <input type="datetime" name = "arrive_datetime" required><br>
        <input type="submit" name='create_flight_submit' value = Create />
        {% if create_flight_status %}
            <p class="error"><strong>{{create_flight_status}}</strong></p>
        {% endif %}
    </form>	

   <!-- change flight status  -->
   <h3 style='margin-bottom: 10px; margin-top: 10px;'>Change flight status</h2>
    <form action="/staff" method="POST">
        <input type="number" name = "flight_num" placeholder="Flight Number" required></br>
        <span>Departure Datetime: </span>
        <input type="text" name = "depart_datetime" required><br>
        <select name="status" style='margin-top:10px'>
                <option value="on-time" selected>On-time</option>
                <option value="delayed">Delayed</option>
            </select><br></br>
        <input type="submit" name='change_status' value = Change />
        {% if change_status %}
            <p class="error"><strong>{{change_status}}</strong></p>
        {% endif %}
    </form>

    <!-- add airplane  -->
   <h3 style='margin-bottom: 10px; margin-top: 10px;'>Add airplane</h2>
    <form action="/staff" method="POST">
        <input type="number" name = "seats" placeholder="Seats" required></br>
        <input type="submit" name='add_airplane' value = Add />
        {% if add_airplane_status %}
            <p class="error"><strong>{{add_airplane_status}}</strong></p>
        {% endif %}
    </form>

    <!-- add airplane result -->
    {% if add_airplane %}
    <h3>All planes owned by your airline</h3>
    <table align= 'center'>
            <th>ID</th>
            <th>Seats</th>
        {% for line in add_airplane %}
            <tr>
                <td>{{line['id']}}</td>
                <td>{{line['seats']}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}	
</body>

</html>
